@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #E1E5EE;
}

nav{
    background-color: #fff;
    text-align: center;
    max-width: 600px;
}